<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lhj.shop.mapper.ShopMapper">
<insert id="insert">
	<foreach collection="list" open="DECLARE BEGIN" close="; END;" separator=";" item="menu">
		INSERT INTO shop(NAME) VALUES(#{menu.name})
	</foreach>
</insert>
<delete id="delete">
 	delete from shop
</delete>
</mapper>
