<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="lhj.shop.mapper.WishListMapper">
	<insert id="insertWish" parameterType="WishList">
		insert into wishList values(#{id}, #{mname})
	</insert>
	<delete id="deleteWish" parameterType="WishList">
		delete from wishList where id=#{id} and mname=#{mname}
	</delete>
	<select id="selectWish" parameterType="String" resultType="WishList">
		select distinct mname from wishList where id=#{id}
	</select>

  </mapper>